{
    "env": {
        "commonjs": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-undef": "off",
        "no-unused-vars": "off",
        "jsdoc/require-jsdoc": 0,
        "jsdoc/newline-after-description": 0,
        "jsdoc/check-types": 0,
        "jsdoc/tag-lines": 0
    },
    "globals": {},
    "plugins": [
        "@typescript-eslint"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "root": true
}
