# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Multi-clasp2 CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: e2e-tests
    strategy:
      matrix:
        node-version: [latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Clasp
        run: npm install -g @google/clasp@2.5.0

      - run: npm ci

      - name: Decrypt .clasprc
        run: echo "$DOT_CLASPRC" >> $HOME/.clasprc.json
        env:
          DOT_CLASPRC: ${{ secrets.DOT_CLASPRC }}

      - run: npm run test

      - run: npm run e2e
